.ever-popup__body.ever-mobile {
    display: none
}

.ever-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 111;
    display: none;
    overflow: auto
}

.ever-popup__body {
    position: static;
    float: none;
    display: block;
    margin: 0 auto;
    width: auto
}

.ever-popup.show {
    display: block;
    align-items: center
}

.ever-popup__inner {
    position: relative;
    margin: 0 auto;
    padding-top: 35px
}

.ever-popup__close {
    width: 35px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.ever-popup__close:after,
.ever-popup__close:before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 35px;
    height: 10px;
    background: #fff;
    transition: all 1s
}

.ever-popup__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ever-popup__close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

@media screen and (max-width:1000px) {
    .ever-popup__body.ever-desktop {
        display: none
    }
    .ever-popup__body.ever-mobile {
        display: block
    }
}